## create modeled tables for usafacts

In [2]:
!bq --location=US mk --dataset covid19_usafacts_modeled

Dataset 'spry-cosine-266801:covid19_usafacts_modeled' successfully created.

In [2]:
%%bigquery
create or replace table covid19_usafacts_modeled.loc_county as
select distinct cast(county_fips_code as int64) as county_fips_code, county_name
from covid19_usafacts.summary

Empty DataFrame
Columns: []
Index: []

In [3]:
%%bigquery
select * from covid19_usafacts_modeled.loc_county
limit 12

    county_fips_code county_name
0              16001  Ada County
1              12005  Bay County
2              26017  Bay County
3              48025  Bee County
4              46037  Day County
5              42047  Elk County
6              20049  Elk County
7              51640  Galax city
8              16045  Gem County
9              19093  Ida County
10             18075  Jay County
11             40071  Kay County

In [5]:
%%bigquery
create or replace table covid19_usafacts_modeled.loc_state as
select distinct cast(state_fips_code as int64) as state_fips_code, state
from covid19_usafacts.summary

Empty DataFrame
Columns: []
Index: []

In [6]:
%%bigquery
select * from covid19_usafacts_modeled.loc_state
limit 12

    state_fips_code state
0                41    OR
1                10    DE
2                38    ND
3                24    MD
4                 5    AR
5                32    NV
6                26    MI
7                36    NY
8                55    WI
9                22    LA
10               20    KS
11               45    SC

In [8]:
%%bigquery
create or replace table covid19_usafacts_modeled.reports as
select cast(county_fips_code as int64) as county_fips_code, cast(state_fips_code as int64) as state_fips_code, date, confirmed_cases, deaths
from covid19_usafacts.summary

Empty DataFrame
Columns: []
Index: []

In [9]:
%%bigquery
select * from covid19_usafacts_modeled.reports
limit 12

    county_fips_code  state_fips_code        date confirmed_cases deaths
0                  0                8  2020-04-20             126      3
1                  0                9  2020-04-05             222      1
2                  0                9  2020-04-10             407      4
3                  0                9  2020-04-29             507      3
4                  0               17  2020-04-15              45      1
5                  0               22  2020-04-08              49      2
6                  0               26  2020-03-28              62      0
7                  0               28  2020-04-06             111      1
8                  0               34  2020-03-23             419      3
9                  0               34  2020-04-01            4512      0
10                 0               34  2020-04-11             924      2
11                 0               34  2020-04-28            1108      3

beam transformations

In [7]:
%run loc_state_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'covid19_usafacts_modeled'
 projectId: 'spry-cosine-266801'
 tableId: 'loc_state'> referenced by query SELECT state_fips_code, state FROM covid19_usafacts_modeled.loc_state limit 20
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset spry-cosine-266801:temp_dataset_a52ab2295e544b9982536bbe86fbcf03 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table spry-cosine-266801.covid19_usafacts_modeled.loc_state_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'state_fips_code'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'state'
 type: 'STRING'>]>. Result: <Table
 creationTime: 1588953733641
 etag: 'M39IRt82MyjDS1IBH63wxA=='
 id: 'spry-cosine-266801:covid19_usafacts_modeled.loc_state_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1588953733677
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'state_fips_code'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'state'
 type: 'STRING'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/spry-cosine-266801/datasets/covid19_usafacts_modeled/tables/loc_state_Beam'
 tableReference: <TableReference
 datasetId: 'covid19_usafacts_modeled'
 projectId: 'spry-cosine-266801'
 tableId: 'loc_state_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [10]:
%run loc_state_beam_dataflow.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))